<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ecommerce/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/main.css' %}">
    <script src="{% static 'ecommerce/js/bootstrap.min.js' %}">
    </script>

</head>
<body class="bg-white">
    <div class="container-fluid">
        <div class="row ">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary bar shadow fixed-top">
            
                <div class="navbar-brand">
                    <h4 class="text-white">ONES E-COMMERCE</h4>
                </div>
                <button class="navbar-toggler" data-bs-toggle="collapse" type="button" data-bs-target="#navbarcontent" >
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarcontent" >
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'ecommerce:home' %}" class="nav-link text-white">
                                HOME
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'ecommerce:products' %}" class="nav-link text-white">
                                PRODUCTS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'ecommerce:addproduct' %}" class="nav-link text-white">
                                ADD PRODUCT
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-white">
                                ABOUT US
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="#dropdownitem" >
                                SERVICE
                            </a>
                            <ul class="dropdown-menu" id="dropdownitem"> 
                                <li>
                                    <a href="" class="dropdown-item">web development</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a href="" class="dropdown-item"> App development</a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">digital makerting </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">graphic design</a>
                                </li>
    
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-white"> FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-white">
                                PORTFOLIO
                            </a>
                        </li>
                        <li class="nav-item">
                            contact
                            <button class="rounded-pill d-lg-inline border-primary d-md-none" style="border-radius: 20px;">+254710383551</button>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="#dropdownitem" >
                                ACCOUNT
                            </a>
                            <ul class="dropdown-menu" id="dropdownitem"> 
                                
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                {% if user.is_authenticated %}
                                    <li>
                                        <a href="{% url 'logout' %}" class="dropdown-item">logout</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'login' %}" class="dropdown-item">login</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="" class="dropdown-item">my profile</a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item">register</a>
                                </li>
    
                            </ul>
                        </li>
                        
                    </ul>
                </div>
        </nav>
        </div>
    </div>


    {% block content %}
        {% if user.is_authenticated %}
            <div class="container-fluid info">
                <div>
                    <div class="row">
                        <div class=" text-center text-blue col-12">
                            <h5 class="fw-bold">welcome to ones e-commerce,make your purchase</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 offset-3 ">
                            <h4 class="text-center">ONES E-COMMERCE</h4>
                            <p class="text-center text-danger">
                                {{user.username}}
                                welcome to ones e-commerce
                            </p>
                            <a href="{% url 'ecommerce:products'%}"><button class="rounded-pill">MAKE YOUR FIRST PURCHASE</button></a>
                        </div>
            
                    </div>
            </div>
        </div>
        {% else %}
            <p>please login <a href="{% url 'login' %}" style="margin-top: 200px;"> click here to login</a></p>
        {% endif %}
   
    {% endblock %}
</body>
</html>