{% extends 'ecommerce/home.html' %}

{% block content %}

<div class="container" style="margin-top: 60px;">
    <div class="row ">
        {% if products %}
            {% for product in products %}
                <div class="col-4 mb-5">
                    <div class="card text-center bg-light h-100">
                        <img class="h-70"  src="{{ product.product_image.url }}" alt="{{product.product_name}}">
                        <div class="card-body h-30">
                            <div class="card-title">
                               {{ product.product_name }}
                            </div>
                            <div class="card-subtitle ">
                                <p>price:{{ product.product_price }}</p>
                                <div class=" card-text">
                                    <p>description:{{product.description}}</p>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else%}
                <p class="text-red">no products</p>
        {% endif %}
    </div>

</div>



{% endblock %}