h5{
    color: blue;
}
.info{
    background-color: grey;
    height: 100%;
    width: 100%;
    background-image: url('images/home3.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.bar{
    position: fixed;
}
.rounded-pill:hover{
    background-color: purple;
}